.footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 14.625rem;
    margin-bottom: 1rem;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-links{
    display: flex;
    gap: 1rem;
}
